.flipped {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.img-case{
    width: 40%;
    height: auto;
    position: absolute;
    right: 200px;
    top: 100px;
}
.img-harddrive{
    width: 10%;
    height: auto;
    position: absolute;
    left: 300px;
    top: 175px;
}
.img-memory{
    width: 10%;
    height: auto;
    position: absolute;
    left: 300px;
    top: 300px;
}
.img-motherboard{
    width: 15%;
    height: auto;
    position: absolute;
    left: 300px;
    top: 400px;
}
.img-optical{
    width: 8%;
    height: auto;
    position: absolute;
    left: 100px;
    top: 190px;
}
.img-power{
    width: 15%;
    height: auto;
    position: absolute;
    left: 100px;
    top: 425px;
}
.img-processor{
    width: 3%;
    height: auto;
    position: absolute;
    left: 300px;
    top: 295px;
}
.img-sound{
    width: 10%;
    height: auto;
    position: absolute;
    left: 100px;
    top: 250px;
}
.img-video{
    width: 10%;
    height: auto;
    position: absolute;
    left: 100px;
    top: 325px;
}
.img-computer{
    width: 40%;
    height: auto;
    top: 20px;
    position: relative;
    left: 300px;
}

html
{
    background-color: #808080;
    color: #fff;
    font-family: 'Palatino Linotype', Cambria, 'Cambria Math';
    font-size: 14px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #808080;
    color: #fff;
    font-family: 'Palatino Linotype', Cambria, 'Cambria Math';
    font-size: 14px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #808080;
    color: #fff;
    font-family: 'Palatino Linotype', Cambria, 'Cambria Math';
    
}

/* Tabs overrides */
.ui-tabs { 
    padding: 0px; 
    background: none; 
    border-width: 0px; 
    background-color: #808080;
}
.ui-tabs .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
	border-color: #3c8243;
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
    background-color: #808080;
}
.ui-tabs-nav .ui-state-active {
	border-color: #3c8243;
    background-color: #808080;
}
.ui-tabs .ui-tabs-panel { 
	padding: 1em;
    background: #f5f3e5 url(http://code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top; 
    border-width: 0px 1px 1px 1px; 
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}