@using System.Collections.Generic
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/ico" href="favicon.ico">

    <title>ViewBag.Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script>
        $(document).ready(function () {

            $(".button-motherboards").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videocards-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").show()
            });

            $(".button-processors").click(function () {
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videocards-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-processors-hidden").show()
            });

            $(".button-memories").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videocards-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-memories-hidden").show()
            });

            $(".button-harddrives").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videocards-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-harddrives-hidden").show()
            });

            $(".button-soundcards").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-videocards-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-soundcards-hidden").show()
            });

            $(".button-videoadapters").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-videocards-hidden").show()
            });

            $(".button-opticaldrives").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videocards-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-opticaldrives-hidden").show()
            });

            $(".button-powersupplies").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videocards-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-powersupplies-hidden").show()
            });

            $(".button-computercases").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videocards-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-computercases-hidden").show()
            });
        });
    </script>

</head>

<body>



    <div id="Lists">
       @{ Html.RenderPartial("Lists"); }
    </div>

            @Html.ActionLink("Save", "Save")

</body>
</html>
<script type="text/javascript">

    $(".doajaxmb").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=mb&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxpr").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=pr&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxme").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=me&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxhd").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=hd&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxsc").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=sc&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxva").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=va&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxod").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=od&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxps").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=ps&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxcc").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=cc&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxmb").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=xmb&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxpr").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=xpr&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxme").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=xme&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxhd").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=xhd&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxsc").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=xsc&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });


    $(".doajaxxva").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=xva&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxod").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=xod&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxps").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=xps&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxcc").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("Lists").innerHTML = xmlhttp.responseText;
            }
        }
        xmlhttp.open("POST", "Index?obj=xcc&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });
</script>